.idea/
out/
src/CodeWars/
src/Stepik/
src/Yandex/

!src/Netology
src/Netology/*
!src/Netology/Multithread_Functional/
src/Netology/Multithread_Functional/*
!src/Netology/Multithread_Functional/Multithread/
src/Netology/Multithread_Functional/Multithread/*
!src/Netology/Multithread_Functional/Multithread/СoncurrentCollections/
src/Netology/Multithread_Functional/Multithread/СoncurrentCollections/*
!src/Netology/Multithread_Functional/Multithread/СoncurrentCollections/Task2


AlgoInput.txt
dateInput.txt
MyStudy.iml
StationInput.txt
